@use "../../breakpoint";

.grid-view {
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;

  animation: fade-up 1s ease-in-out;

  @media screen and (min-width: breakpoint.$sm) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    padding: 4rem 0;
  }
}
.grid-item {
  @media screen and (min-width: (breakpoint.$sm)) {
    flex: 1 0 38rem;
  }
  @media screen and (min-width: (breakpoint.$xl)) {
    // flex: 1 0 380px;
    max-width: 423px;
    // border: 1px solid #000;
  }
  animation: fade-in 1s forwards ease-in-out;
}
.img {
  width: 100%;
  object-fit: cover;
}

@keyframes fade-up {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
