@use "../../breakpoint";
.nav {
  padding: 2rem 0;

  @media screen and (min-width: breakpoint.$md) {
    padding: 0;
  }
}
.nav-link {
  color: inherit;

  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 400;
  font-weight: 500;

  &:not(:nth-last-child(1)) {
    margin-right: 2rem;
  }
}

.selected {
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #000;
}
